canvas {
border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

.panel-body {
width:fit-content;
}

.panel-title {
font-family:Times New Roman;
font-size:50px;
cursor:pointer;
}

.panel-title:hover {
color:red;
}

.btn {
padding:10px !important;
font-weight:bold !important;
}

.btn:hover {
background-color:green !important;
color:white !important;
}